@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --background-rgb: #121212;
  --link-color: #7f8ced;
  --link-hover-color: #5867e8;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

a:not([class*="bg-[rgba(127,140,237,0.2)]"]) {
  color: var(--link-color);
  transition: color 0.2s ease-in-out;
}

a:not([class*="bg-[rgba(127,140,237,0.2)]"]):hover {
  color: var(--link-hover-color);
}

@theme {
  --breakpoint-custom: 1150px;
}
