@import "tailwindcss";
:root {
  --foreground-rgb: white;
  --background-rgb: #121212;
  --link-color: #3b82f6;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

a {
  color: var(--link-color);
}

@theme {
  --breakpoint-custom: 1044px;
}